/* Start Variables */
:root {
    --main-color: #10cab7;
    --socendery-color: #2c4755;
    --padding-section: 60px;
    --background-color-section: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

/* End Variables */
/* start component */
.special-heading {
    margin: 0;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: #e8e6e6;
    letter-spacing: -3px;
}

.special-heading+p {
    margin: -35px 0 0;
    font-size: 20px;
    text-align: center;
    color: #777;
}

/* end component */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;

}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Small */
@media (min-width: 320px) and (max-width:480px) {
    .container {
        width: 319px;

    }

    .special-heading {
        font-size: 70px;
    }
}

@media (min-width: 481px) and (max-width:768px) {
    .container {
        width: 475px;

    }
}

/* Medium */
@media (min-width: 769px) and (max-width:1024px) {
    .container {
        width: 750px;

    }
}

/* Large */
@media (min-width: 1024px) and (max-width:1200px) {
    .container {
        width: 998px;

    }
}



/* End Global Rules */

/* Start Header */
.header {
    padding: 20px;
    width: auto;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header .logo {
    width: 60px;

}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.4s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    background-color: #f6f6f6;
    position: absolute;
    width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 5px 5px;
}

.header .links:hover ul {
    display: block;

}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;



}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */


/* Start Landing  */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;

    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0%;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;

}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing */

/* Start Featuers  */
.Featuers {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color-section);
}

.Featuers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.feat1,
.feat2,
.feat3 {
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
}



.Featuers .feat1,
.feat2,
.feat3 {
    padding: 35px 20px 20px 20px;
    text-align: center;

}

.Featuers .feat1 i,
.feat2 i,
.feat3 i {
    color: var(--main-color);
}

.Featuers .feat1 h3,
.feat2 h3,
.feat3 h3 {
    font-weight: 800;
    margin: 30px 0;
}

.Featuers .feat1 p,
.feat2 p,
.feat3 p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}

/* End Featuers */
/* Start Services */
.Services {
    padding-top: var(--padding-section);
    padding-bottom: var(--background-color-section);
}

.Services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.Services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
    width: 100%;
    height: 40%;

}

@media (max-width :767px) {
    .Services .services-content .srv {
        flex-direction: column;
        text-align: center;

    }
}

.Services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    padding: 20px 20px 0 20px;

}

.Services .services-content .srv .text {
    flex: 1;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.Services .services-content .srv .text .h3 {
    margin: 0 0 20px;
}

.Services .services-content .srv .text .p {
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}

.Services .services-content .image img {
    width: 260px;
}

.Services .services-content .image {
    text-align: center;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.Services .services-content .image::before {
    content: "";
    background-color: var(--socendery-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0px;
    z-index: -1;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;

}

@media (max-width:1199px) {
    .img-colume {
        display: none;
    }
}

/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color-section);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
}

.portfolio .portfolio-content .card {
    background-color: white;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
}

.portfolio .portfolio-content .card img {
    width: 100%;

}

.portfolio .portfolio-content .card .info {
    padding: 20px;

}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */
/* Start About */
.About {
    padding-top: var(--padding-section);
    padding-bottom: calc(var(--padding-section) + 60px);
}

.About .About-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .About .About-content {
        flex-direction: column;
        text-align: center;
    }
}

.About .About-content .img img {
    width: 120%;

}

.About .About-content .img {
    position: relative;
    width: 250px;
    height: 375px;
    margin-top: 50px;

}

@media (max-width:991px) {
    .About .About-content .img {
        margin: 0 auto 60px;
        left: -25px;



    }
}

.About .About-content .img::before {
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    width: 100px;
    height: calc(100% + 50px);
    top: -50px;
    left: -20px;
    z-index: -1;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
}


.About .About-content .img::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 200px;
    z-index: -1;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -189px;
    top: -25px;

}

@media (max-width:991px) {

    .About .About-content .img::before,
    .About .About-content .img::after {
        display: none;
    }
}

.About .About-content .text {
    flex-basis: calc(100% - 500px);
}

.About .About-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 20px;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
}

.About .About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.About .About-content .text p:last-of-type {
    line-height: 2;
    color: #777;
    box-shadow: 2px 2px 10px 0px #777;
    border-radius: 10px 10px;
    padding: 20px;
}

/* End About */
/* Start Contact */
.Contact {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    background-color: var(--background-color-section);
}

.Contact .info {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
    text-align: center;
}

.Contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--socendery-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.Contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.Contact .info .socail {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 16px;
}

.Contact .info .socail i {
    margin-left: 10px;
    color: var(--socendery-color);

}

@media (max-width:767px) {

    .Contact .info .link,
    .Contact .info .label {
        font-size: 25px;
    }
}

/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--socendery-color);
    color: white;
    padding: 30px 10px;
    font-size: 18px;
    text-align: center;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

/* End Footer */
